# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Environment variables
.env

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# Operating system
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
*.tmp

# Generated datasets
data/raw/*.csv
data/processed/*.csv

# Frontend / Node
node_modules/
frontend/node_modules/
frontend/dist/

# Vite
*.local